{% extends 'catalog/base.html' %}
{% load filter %}


{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.purchase_price }} руб</h1>
                    <img src="{{ product.image|media_url }}" alt="Изображение товара" class="img-fluid">
                    <a href="{% url 'edit_product' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                    <a href="{% url 'delete_product' pk=product.pk %}" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}